body{
  margin: 0;
  text-align: center;
}
h1{
position: relative;
margin-top: 60px;
padding-top: 50px;
font-family: 'Sacramento', cursive;
font-size: 70px;
color: #45b29a;
display: inline-block;
font-weight: normal;
    margin-bottom: 7px;
}
.header{
  background-color: #E4F9F5;
  position: relative;
  width: 100%;
  color: #45b29a;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
}
.header img{
  position: absolute;
  height: 100px;
  width: 100px;
  left:20%;
  top:30px;
}
.header ul li{
display: inline;
list-style:none;
padding-right: 30px;
top:30px;
}
.header ul{
  margin-left: 65%;
}

.webdesign{
margin-top: 0;
font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-size: 20px ;
color: #45b29a;
}
.cloud1
{
position: absolute;
right: 300px;
top : 60px;
}
.cloud2
{
position: absolute;
left: 250px;
top : 250px;
}
.mountain{
  position: relative;
  margin-top: 15px;
}

.top-container{
background-color: #E4F9F5;
position: relative;
width: 100%;

}
.hrstyle{
  margin-top: 10px;
}
.myimage{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 2px solid #545454;
  background-color: #E4F9F5;
}
.heading1{
  color: #45b29a;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 14px;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
font-weight: 500;
font-size: 2em;
}
.heading2{
    color: #1e836c;
    font-size: 3em;
    font-weight: 400;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
.middle-container{
      background: #fff;
  position: relative;
  margin-top: 20px;

}

.middle-container2{
      background: #fff;
  position: relative;
  margin-top: 20px;
  text-align: center;

}
.middle-container3{
background: #fff;
position: relative;
margin-top: 70px;
text-align: center;
}
.secondlast-container{
  background: #fff;
position: relative;
margin-top: 20px;
text-align: center;
}
.secondP{
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  color: #545454;
  text-align: center;
letter-spacing: 1px;

}
.thirdP{
  font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  color: #545454;
  text-align: left;
  letter-spacing: 1px;
}
.dotted{
   /* border-style: dotted; */
  margin-top: 100px;
  margin-bottom: 100px;
  height: 0;
  width: 50px;
  border: 3px dotted grey ;
}
.nesteddiv1{
  display: inline-block;
  margin-top: 40px;
}
.nesteddiv1img{
  height: 130px;
width: 130px;
}
.nesteddiv2img{
height: 130px;
width: 130px;

}
.nesteddiv2{
  padding: 0 0 0 6em;
  display: inline-block;
  margin-top: 40px;
}
.developneed{
  display: inline-block;
  margin-right: 96px;
}
.firsth3heading{
  text-align: left;
  padding: 0 0 1em;
    margin: 0;
    font-size: 1.5em;
    color: #45b29a;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:  bolder;

}
.firsth4heading{
  text-align: center;
  padding: 0 0 1em;
    margin: 0;
    font-size: 1.5em;
    color: #45b29a;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:  bolder;

}
 .message{
font-size: 1.5em;
color: #45b29a;
text-decoration: none;
font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
padding: 5px 5px 5px 5px;

}
.mail{
margin-top: 40px;
margin-bottom: 100px;
padding: 10px;
background-color : #1e836c ;
display:  inline-block;
border-radius: 2px;
}
.bottom-container{
  background: #c5ded7;
    padding: 3em 0;
    display: block;
    font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    padding-top: 42px;
    padding-bottom: 42px;

    color: #45b29a;
}
.bottom-container ul li{
  display: inline;
  list-style:none;
  padding-right: 20px;
}
.bottom-container p{
  text-align: center;
color: #45b29a;
font-size: 1em;
font-weight: 400;
margin: 0;
padding: 2.5em 0 0;
}
